<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ApplicationData" type="Configuration.ConfigSettingsSectionHandler, Configuration" />
  </configSections>
  <ApplicationData>
    <add key="Server" value="DESKTOP-IVLRKD4" />
    <add key="Database" value="Gestion_Com1" />
    <add key="User" value="sa" />
    <add key="Pass" value="2sa00insvdz" />
    <add key="LienCompt" value="Non" />
    <add key="parmConnexion" value="1" />
  </ApplicationData>
</configuration>